# Section 03 specific content
Section_03/BuildingEscape/Content/StarterContent

# Derived Unreal Engine 4 directories
**/Binaries
**/Build
**/Intermediate
**/Saved
**/DerivedDataCache

# Excess Visual Studio files
**/Debug
**/.vs
**/*.vc.db
**/*.vcxproj
**/*.vcxproj.filters
